body {
  color: #333;
  padding: 25px 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

main {
  width: 100%;
  background: #efefef;
  padding: 15px 5px 1px;
  margin: 0 auto;
}

header {
  width: 100%;
  background: #efefef;
  padding: 30px 5px 5px;
  margin: 0 auto;
}

a {
  color: #477ca7;
}

h1 {
  font-size: 40px;
}

h1, header > p, h2, h3 {
  margin: 20px auto;
  text-align: center;
}

header > p {
  margin-bottom: 0;
}

img, ul, figcaption {
  width: min(100%, 600px);
  margin: 0 auto;
}

li {
  width: min(90%, 600px);
}

figcaption, h1, h2 {
  text-align: center;
}

h2, h3 {
  margin: 50px auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

li {
  line-height: 1.6;
  word-spacing: 0px;
  margin: 15px 0;
}

span {
  font-weight: 700px;
}

figure {
  padding: 15px 50px;
  background: #fefefe;
  margin: 0 5px;
}